<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>App</title>
  </head>
  <body>
      <header>
          {{>navbar}}
    </header>
    <div>
        {{{body}}}
    </div>
    {{> footer }}
  </body>
</html>